# OS와 관련된 파일들
.gitconfig
.idlerc
.lesshst
.local/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
NTUSER.DAT*

# 기타 배포 관련 파일
.EasyOCR/
.Ld9VirtualBox/
.paddleocr/
.streamlit/
util/
